@font-face {
  font-family: 'FontAwesome';
  src:  url('./fontawesome-webfont.woff2') format('woff2'),
        url('./fontawesome-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'FontAwesome';
  background: url('./icon.png');
}

.fa-address-book:before {
    content: "\f2b9";
    font-style: normal;
    font-size: 56px;
}